In [1]:
import pandas as pd
import numpy as np
import seaborn as sns

In [2]:
dt = pd.read_csv('reed_uk.csv')

In [3]:
dt.head()

,category,city,company_name,geo,job_board,job_description,job_requirements,job_title,job_type,post_date,salary_offered,state
0,catering jobs,Chudleigh,Haulfryn Group,uk,reed,Apply now New opportunity not to be missed! H...,NaN,Commis Chef,"Permanent, full-time",3/12/2018,"£18,323 per annum",Devon
1,law jobs,Swindon,Reed,uk,reed,Apply now This role requires an experienced s...,NaN,Corporate Legal Secretary,"Permanent, full-time",3/8/2018,"£18,000 - £22,000 per annum",Wiltshire
2,factory jobs,Norfolk,Swanstaff Recruitment Ltd,uk,reed,Apply now Job Title: Warehouse personLocation...,NaN,Warehouse Person,"Permanent, full-time",2/27/2018,Salary not specified,East Anglia
3,law jobs,Hurstpierpoint,Castles Solicitors,uk,reed,Apply now Castles Solicitors are looking for ...,Required skills Admin Case Management Corresp...,Legal Secretary / Admin Assistant,"Permanent, full-time or part-time",2/21/2018,"£15,000 - £17,000 per annum, pro-rata",West Sussex
4,factory jobs,Hertfordshire,Marketplace Group,uk,reed,Apply now International Pharmaceutical Manufa...,NaN,Category Planner - Pharmaceutical,"Permanent, full-time",3/1/2018,"£37,000 - £45,000 per annum",South East England

In [4]:
dt.tail()

,category,city,company_name,geo,job_board,job_description,job_requirements,job_title,job_type,post_date,salary_offered,state
49995,science jobs,Oxfordshire,Hays Specialist Recruitment Limited,uk,reed,Apply now Scientist - Cell Based Assays - Neu...,NaN,Scientist In vitro Cell-Free & Cell Based Assays,"Contract, full-time",3/7/2018,£22.00 - £26.00 per hour,South East England
49996,graduate training internships jobs,Northampton,The Graduate,uk,reed,Apply now Our client is looking for high achi...,Required skills Blue Chip Communication Skill...,Graduate Training Scheme - Recruitment,"Permanent, full-time",3/9/2018,"£18,000 - £21,000 per annum",Northamptonshire
49997,strategy consultancy jobs,City of London,Capgemini Consulting,uk,reed,Apply on employer's website Who youâ€™ll be w...,NaN,"Management Consultant - Retail Buying, Merchan...","Permanent, full-time",2/17/2018,Competitive salary,London
49998,purchasing jobs,Egham,Concept Human Solutions,uk,reed,"Apply now UNDERSTANDING, SERVICE, TRUST3 Word...",Required skills Procurement AV,AV Procurement Assistant,"Permanent, full-time",3/6/2018,"£27,500 - £30,000 per annum, negotiable, OTE",Surrey
49999,fmcg jobs,London,D R Newitt,uk,reed,"Apply now My client, highly successful, rapid...",Required skills FMCG French Supply Planning,Supply Planner - French Speaking,"Permanent, full-time",2/27/2018,"£45,000 per annum",South East England

In [5]:
dt.shape

(50000, 12)

In [6]:
total = dt.isnull().sum().sort_values(ascending=False)
percent_1 = dt.isnull().sum()/dt.isnull().count()*100
percent_2 = (round(percent_1, 1)).sort_values(ascending=False)
missing_data = pd.concat([total, percent_2], axis=1, keys=['Total', '%'])
missing_data.head(10)

                  Total     %
job_requirements  29452  58.9
state                20   0.0
category              0   0.0
city                  0   0.0
company_name          0   0.0
geo                   0   0.0
job_board             0   0.0
job_description       0   0.0
job_title             0   0.0
job_type              0   0.0

job requirement null can be considered as no prior experience is needed in the field

In [7]:
dt['job_requirements'].isnull().sum()

29452

In [8]:
dt['job_requirements'].describe()

count                             20548
unique                            14887
top        Required skills Recruitment
freq                                123
Name: job_requirements, dtype: object

Let's considered the salary field

In [9]:
dt['salary_offered'].describe()

count                   50000
unique                   7345
top        Salary negotiable
freq                     4539
Name: salary_offered, dtype: object

In [10]:

temp_arry = dt['salary_offered'].unique()
temp_dataframe = pd.DataFrame(temp_arry)
temp_dataframe
#temp_dataframe.to_csv('salary.csv')

                                                   0
0                                 £18,323 per annum
1                       £18,000 - £22,000 per annum
2                              Salary not specified
3             £15,000 - £17,000 per annum, pro-rata
4                       £37,000 - £45,000 per annum
...                                              ...
7340                                £360.00 per day
7341                    £65,000 - £73,000 per annum
7342                              £43,609 per annum
7343                    £31,592 - £44,430 per annum
7344   £27,500 - £30,000 per annum, negotiable, OTE

[7345 rows x 1 columns]

In [11]:
dt[dt['salary_offered']==' Salary not specified '].count()

category            317
city                317
company_name        317
geo                 317
job_board           317
job_description     317
job_requirements     86
job_title           317
job_type            317
post_date           317
salary_offered      317
state               317
dtype: int64

In [12]:
dt[dt['salary_offered']== ' Salary negotiable '].count()

category            4539
city                4539
company_name        4539
geo                 4539
job_board           4539
job_description     4539
job_requirements    1488
job_title           4539
job_type            4539
post_date           4539
salary_offered      4539
state               4534
dtype: int64

In [13]:
dt[dt['salary_offered'] == ' Competitive salary '].count()

category            3998
city                3998
company_name        3998
geo                 3998
job_board           3998
job_description     3998
job_requirements    1506
job_title           3998
job_type            3998
post_date           3998
salary_offered      3998
state               3994
dtype: int64

In [14]:
dt[dt['salary_offered']== ' Commission only '].count()

category            29
city                29
company_name        29
geo                 29
job_board           29
job_description     29
job_requirements    21
job_title           29
job_type            29
post_date           29
salary_offered      29
state               29
dtype: int64

Removing rows that contains salary not specified, salary negotiable , competitive salary, commission only from the data as they make no sense

In [15]:
data = dt.loc[(dt["salary_offered"] != ' Salary not specified ') & (dt["salary_offered"] != ' Salary negotiable ')& (dt["salary_offered"] != ' Competitive salary ')& (dt["salary_offered"] != ' Commission only ')]

In [16]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 41117 entries, 0 to 49999
Data columns (total 12 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   category          41117 non-null  object
 1   city              41117 non-null  object
 2   company_name      41117 non-null  object
 3   geo               41117 non-null  object
 4   job_board         41117 non-null  object
 5   job_description   41117 non-null  object
 6   job_requirements  17447 non-null  object
 7   job_title         41117 non-null  object
 8   job_type          41117 non-null  object
 9   post_date         41117 non-null  object
 10  salary_offered    41117 non-null  object
 11  state             41106 non-null  object
dtypes: object(12)
memory usage: 4.1+ MB

However, the feature salary offered contains data in different formats That is
salary calculated in annual basis, daily basis and hourly basis. Therefore we need to standardize it(to hourly basis)

In [17]:
# catagories field into annual, daily and hourly basis
data_annual_basis = data[data['salary_offered'].str.lower().str.contains("per annum", na =False)]
data_daily_basis = data[data['salary_offered'].str.lower().str.contains("per day", na =False)]
data_hourly_basis = data[data['salary_offered'].str.lower().str.contains("per hour", na =False)]

 Annual

In [18]:
data_annual_basis['salary_offered']

0                                    £18,323 per annum
1                          £18,000 - £22,000 per annum
3                £15,000 - £17,000 per annum, pro-rata
4                          £37,000 - £45,000 per annum
5                       £9,100 - £9,152 per annum, OTE
                              ...
49993                      £23,000 - £33,000 per annum
49994                      £23,000 - £26,000 per annum
49996                      £18,000 - £21,000 per annum
49998     £27,500 - £30,000 per annum, negotiable, OTE
49999                                £45,000 per annum
Name: salary_offered, Length: 30534, dtype: object

In [19]:
#data_annual_basis[~data_annual_basis['salary_offered'].str.contains("£")]
annual_data = data_annual_basis[data_annual_basis['salary_offered'].str.contains("£")]

In [20]:
annual_data['salary_offered']

0                                    £18,323 per annum
1                          £18,000 - £22,000 per annum
3                £15,000 - £17,000 per annum, pro-rata
4                          £37,000 - £45,000 per annum
5                       £9,100 - £9,152 per annum, OTE
                              ...
49993                      £23,000 - £33,000 per annum
49994                      £23,000 - £26,000 per annum
49996                      £18,000 - £21,000 per annum
49998     £27,500 - £30,000 per annum, negotiable, OTE
49999                                £45,000 per annum
Name: salary_offered, Length: 30403, dtype: object

In [21]:
annual_data['salary_offered'].replace('[,]', '', regex = True, inplace = True)

/tmp/ipykernel_7891/1955055368.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  annual_data['salary_offered'].replace('[,]', '', regex = True, inplace = True)

In [22]:
annual_data['salary'] = annual_data['salary_offered'].str.extractall('(\d+)').astype(int).groupby(level=0).mean()

/tmp/ipykernel_7891/3607468263.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  annual_data['salary'] = annual_data['salary_offered'].str.extractall('(\d+)').astype(int).groupby(level=0).mean()

In [23]:
annual_data['salary'] =annual_data['salary'] /2080

/tmp/ipykernel_7891/2857798450.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  annual_data['salary'] =annual_data['salary'] /2080

In [24]:
annual_data['salary']

0         8.809135
1         9.615385
3         7.692308
4        19.711538
5         4.387500
           ...
49993    13.461538
49994    11.778846
49996     9.375000
49998    13.822115
49999    21.634615
Name: salary, Length: 30403, dtype: float64

Daily [multiply by 251 -average] UK 2022

In [25]:
data_daily_basis['salary_offered']

42        £350.00 - £400.00 per day
120       £250.00 - £270.00 per day
193         £75.00 - £85.00 per day
262                  £75.00 per day
267                 £440.00 per day
                    ...
49893     £450.00 - £500.00 per day
49913     £450.00 - £550.00 per day
49942               £360.00 per day
49957     £100.00 - £150.00 per day
49968               £250.00 per day
Name: salary_offered, Length: 1959, dtype: object

Removing salary in different currency

In [26]:
daily_data = data_daily_basis[data_daily_basis['salary_offered'].str.contains("£")]

In [27]:
daily_data['salary_offered']

42        £350.00 - £400.00 per day
120       £250.00 - £270.00 per day
193         £75.00 - £85.00 per day
262                  £75.00 per day
267                 £440.00 per day
                    ...
49893     £450.00 - £500.00 per day
49913     £450.00 - £550.00 per day
49942               £360.00 per day
49957     £100.00 - £150.00 per day
49968               £250.00 per day
Name: salary_offered, Length: 1951, dtype: object

In [28]:
daily_data['salary']  = daily_data['salary_offered'].str.extractall('£(\d+)').astype(int).groupby(level=0).mean()

/tmp/ipykernel_7891/1391000926.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  daily_data['salary']  = daily_data['salary_offered'].str.extractall('£(\d+)').astype(int).groupby(level=0).mean()

daily_data['salary']

In [29]:
daily_data['salary'] = daily_data['salary']/8

/tmp/ipykernel_7891/1711366721.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  daily_data['salary'] = daily_data['salary']/8

In [30]:
daily_data['salary']

42       46.875
120      32.500
193      10.000
262       9.375
267      55.000
          ...
49893    59.375
49913    62.500
49942    45.000
49957    15.625
49968    31.250
Name: salary, Length: 1951, dtype: float64

 hourly [ 1730 ] uk 2022

In [31]:
data_hourly_basis['salary_offered']

6          £9.25 - £10.15 per hour
15          £8.00 - £8.50 per hour
17                  £7.50 per hour
24         £8.00 - £10.00 per hour
25                  £7.00 per hour
                    ...
49946     £11.00 - £13.00 per hour
49954       £7.50 - £8.50 per hour
49958     £10.00 - £12.00 per hour
49972      £8.70 - £10.20 per hour
49995     £22.00 - £26.00 per hour
Name: salary_offered, Length: 8624, dtype: object

In [32]:
#data_hourly_basis[~data_hourly_basis['salary_offered'].str.contains("£")]
hourly_data = data_hourly_basis[data_hourly_basis['salary_offered'].str.contains("£")]

In [33]:
#noise in the dataset
hourly_data = hourly_data[~hourly_data['salary_offered'].str.contains("22,000")]
hourly_data = hourly_data[~hourly_data['salary_offered'].str.contains("23,000")]
hourly_data = hourly_data[~hourly_data['salary_offered'].str.contains("30,000")]

In [34]:
hourly_data['salary'] = hourly_data['salary_offered'].str.extractall('£(\d+.\d+)').astype(float).groupby(level=0).mean()

In [35]:

#hourly_data['salary'] = hourly_data['salary']

In [36]:
hourly_data['salary']

6         9.70
15        8.25
17        7.50
24        9.00
25        7.00
         ...
49946    12.00
49954     8.00
49958    11.00
49972     9.45
49995    24.00
Name: salary, Length: 8608, dtype: float64

In [37]:
tempdf = annual_data.append(daily_data, ignore_index = True)

/tmp/ipykernel_7891/4118484457.py:1: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  tempdf = annual_data.append(daily_data, ignore_index = True)

In [38]:
T_data = tempdf.append(hourly_data, ignore_index = True)

/tmp/ipykernel_7891/2852929442.py:1: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  T_data = tempdf.append(hourly_data, ignore_index = True)

In [39]:
T_data.head()

,category,city,company_name,geo,job_board,job_description,job_requirements,job_title,job_type,post_date,salary_offered,state,salary
0,catering jobs,Chudleigh,Haulfryn Group,uk,reed,Apply now New opportunity not to be missed! H...,NaN,Commis Chef,"Permanent, full-time",3/12/2018,£18323 per annum,Devon,8.809135
1,law jobs,Swindon,Reed,uk,reed,Apply now This role requires an experienced s...,NaN,Corporate Legal Secretary,"Permanent, full-time",3/8/2018,£18000 - £22000 per annum,Wiltshire,9.615385
2,law jobs,Hurstpierpoint,Castles Solicitors,uk,reed,Apply now Castles Solicitors are looking for ...,Required skills Admin Case Management Corresp...,Legal Secretary / Admin Assistant,"Permanent, full-time or part-time",2/21/2018,£15000 - £17000 per annum pro-rata,West Sussex,7.692308
3,factory jobs,Hertfordshire,Marketplace Group,uk,reed,Apply now International Pharmaceutical Manufa...,NaN,Category Planner - Pharmaceutical,"Permanent, full-time",3/1/2018,£37000 - £45000 per annum,South East England,19.711538
4,retail jobs,Belfast,Vodafone,uk,reed,Apply on employer's website Retail Advisor - ...,NaN,Retail Adviser 20hrs/week - Belfast Donnegal P...,"Permanent, part-time",3/12/2018,£9100 - £9152 per annum OTE,County Antrim,4.387500

In [40]:
T_data['category'].unique()

array(['catering jobs', 'law jobs', 'factory jobs', 'retail jobs',
       'motoring automotive jobs', 'hr jobs', 'marketing jobs',
       'estate agent jobs', 'customer service jobs',
       'accountancy qualified jobs', 'logistics jobs', 'finance jobs',
       'health jobs', 'social care jobs', 'recruitment consultancy jobs',
       'construction property jobs', 'engineering jobs',
       'admin secretarial pa jobs', 'accountancy jobs', 'sales jobs',
       'it jobs', 'education jobs', 'other jobs', 'security safety jobs',
       'energy jobs', 'apprenticeships jobs', 'training jobs',
       'charity jobs', 'strategy consultancy jobs', 'purchasing jobs',
       'banking jobs', 'fmcg jobs', 'leisure tourism jobs',
       'science jobs', 'graduate training internships jobs',
       'general insurance jobs', 'media digital creative jobs'],
      dtype=object)

In [41]:
Catr_job = T_data[T_data['category']=='catering jobs']

In [42]:
#Catr_job['job_title'].to_csv('job_title.csv')

In [43]:
#waiter
waiter_data= Catr_job[Catr_job['job_title'].str.lower().str.contains("waiter", na =False)]
waiter_data['job'] = "waiter"

/tmp/ipykernel_7891/1959044631.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  waiter_data['job'] = "waiter"

In [44]:
Catr_job.drop(Catr_job[Catr_job['job_title'].str.lower().str.contains("waiter", na =False)].index, inplace = True)

/tmp/ipykernel_7891/768056700.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Catr_job.drop(Catr_job[Catr_job['job_title'].str.lower().str.contains("waiter", na =False)].index, inplace = True)

In [45]:
#Bartenders
bartendr_data= Catr_job[Catr_job['job_title'].str.lower().str.contains("bartenders", na =False)]
bartendr_data['job'] = "bartenders"

/tmp/ipykernel_7891/3659671306.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  bartendr_data['job'] = "bartenders"

In [46]:
Catr_job.drop(Catr_job[Catr_job['job_title'].str.lower().str.contains("bartenders", na =False)].index, inplace = True)

/tmp/ipykernel_7891/144595481.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Catr_job.drop(Catr_job[Catr_job['job_title'].str.lower().str.contains("bartenders", na =False)].index, inplace = True)

In [47]:
#cook
cook_data= Catr_job[Catr_job['job_title'].str.lower().str.contains("cook", na =False)]
cook_data['job'] = "cook"

/tmp/ipykernel_7891/3537173463.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  cook_data['job'] = "cook"

In [48]:
Catr_job.drop(Catr_job[Catr_job['job_title'].str.lower().str.contains("cook", na =False)].index, inplace = True)

/tmp/ipykernel_7891/1989780863.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Catr_job.drop(Catr_job[Catr_job['job_title'].str.lower().str.contains("cook", na =False)].index, inplace = True)

In [49]:
#receptionist
respts_data= Catr_job[Catr_job['job_title'].str.lower().str.contains("receptionist", na =False)]
respts_data['job'] = "receptionist"

/tmp/ipykernel_7891/2012223548.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  respts_data['job'] = "receptionist"

In [50]:
Catr_job.drop(Catr_job[Catr_job['job_title'].str.lower().str.contains("receptionist", na =False)].index, inplace = True)

/tmp/ipykernel_7891/3368281733.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Catr_job.drop(Catr_job[Catr_job['job_title'].str.lower().str.contains("receptionist", na =False)].index, inplace = True)

In [51]:
#Hospitality
hospitaly_data= Catr_job[Catr_job['job_title'].str.lower().str.contains("hospitality", na =False)]
hospitaly_data['job'] = "hospitality"

/tmp/ipykernel_7891/1956477932.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  hospitaly_data['job'] = "hospitality"

In [52]:
Catr_job.drop(Catr_job[Catr_job['job_title'].str.lower().str.contains("hospitality", na =False)].index, inplace = True)

/tmp/ipykernel_7891/4091674810.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Catr_job.drop(Catr_job[Catr_job['job_title'].str.lower().str.contains("hospitality", na =False)].index, inplace = True)

In [53]:
#manager
mangrl_data= Catr_job[Catr_job['job_title'].str.lower().str.contains("manager", na =False)]
mangrl_data['job'] = "managerial jobs"

/tmp/ipykernel_7891/1607864314.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  mangrl_data['job'] = "managerial jobs"

In [54]:
Catr_job.drop(Catr_job[Catr_job['job_title'].str.lower().str.contains("manager", na =False)].index, inplace = True)

/tmp/ipykernel_7891/398964587.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Catr_job.drop(Catr_job[Catr_job['job_title'].str.lower().str.contains("manager", na =False)].index, inplace = True)

In [55]:
#chef
chef_data= Catr_job[Catr_job['job_title'].str.lower().str.contains("chef", na =False)]
chef_data['job'] = "chef"

/tmp/ipykernel_7891/4034630606.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  chef_data['job'] = "chef"

In [56]:
Catr_job.drop(Catr_job[Catr_job['job_title'].str.lower().str.contains("chef", na =False)].index, inplace = True)

/tmp/ipykernel_7891/948616388.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Catr_job.drop(Catr_job[Catr_job['job_title'].str.lower().str.contains("chef", na =False)].index, inplace = True)

In [57]:
#event coordinator
cordinr_data= Catr_job[Catr_job['job_title'].str.lower().str.contains("coordinator", na =False)]
cordinr_data['job'] = "events coordinator"

/tmp/ipykernel_7891/4099976901.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  cordinr_data['job'] = "events coordinator"

In [58]:
Catr_job.drop(Catr_job[Catr_job['job_title'].str.lower().str.contains("coordinator", na =False)].index, inplace = True)

/tmp/ipykernel_7891/185505089.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Catr_job.drop(Catr_job[Catr_job['job_title'].str.lower().str.contains("coordinator", na =False)].index, inplace = True)

In [87]:
final_data_catr_jobs = pd.concat([chef_data,mangrl_data,waiter_data,cordinr_data,respts_data,bartendr_data,hospitaly_data,cook_data]).drop_duplicates().reset_index(drop=True)

In [88]:
final_data_catr_jobs

,category,city,company_name,geo,job_board,job_description,job_requirements,job_title,job_type,post_date,salary_offered,state,salary,job
0,catering jobs,Chudleigh,Haulfryn Group,uk,reed,Apply now New opportunity not to be missed! H...,NaN,Commis Chef,"Permanent, full-time",3/12/2018,£18323 per annum,Devon,8.809135,chef
1,catering jobs,Leeds,Berkeley Scott,uk,reed,"Apply now Production Chef - Â£24,000-Â£27,000...",NaN,Production Chef,"Permanent, full-time",2/28/2018,£24000 - £27000 per annum,West Yorkshire,12.259615,chef
2,catering jobs,Barbados,Global Recruitment Solutions,uk,reed,Apply now Position: Head Chef; Location: Barb...,NaN,Head Chef,"Contract, full-time",3/7/2018,£37000 - £39400 per annum,Barbados,18.365385,chef
3,catering jobs,Stoke Poges,Flow Sports Personnel,uk,reed,Apply now Our client runs one of Europes lead...,NaN,Sous Chef - 5 Star Red Resort - Stoke Poges,"Permanent, full-time",3/12/2018,£24000 per annum,Berkshire,11.538462,chef
4,catering jobs,Weston-on-the-Green,ASH Recruitment Ltd,uk,reed,Apply now ASH Recruitment are looking for a p...,Required skills Catering Chef Cooking SOUS,Sous Chef,"Permanent, full-time",2/28/2018,£23000 - £27000 per annum,Oxfordshire,12.019231,chef
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
763,catering jobs,Cardiff,Atlantic Resource (Services) Ltd,uk,reed,Apply now Weekend Cook Are you looking for a ...,Required skills Chef Cook,Weekend Cook,"Temporary, full-time",3/12/2018,£13.00 per hour,South Glamorgan,13.000000,cook
764,catering jobs,London,Berkeley Scott,uk,reed,Apply now DBS Chefs and Cooks wanted in and a...,NaN,DBS Chefs and Cooks wanted in and around centr...,"Temporary, full-time",2/28/2018,£10.50 - £12.50 per hour,South East England,11.500000,cook
765,catering jobs,East Finchley,North West London Hospitality and Leisure,uk,reed,Apply now We are currently recruiting in REED...,NaN,CHEF/COOK for school with DBS immediate start,"Temporary, full-time",3/7/2018,£10.00 - £12.00 per hour,North London,11.000000,cook
766,catering jobs,Bordon,Jade Recruitment Ltd,uk,reed,"Apply now Our Client, a cafÃ© based in Bordon...",Required skills Catering Hygiene Staff Traini...,Catering Supervisor / Cook,"Permanent, full-time",2/26/2018,£9.30 - £10.10 per hour,Hampshire,9.700000,cook
767,catering jobs,Craven Arms,Staffline Express,uk,reed,Apply now We are recruiting for our prestigio...,Required skills in date passport and willing ...,Trainee Chef/Cook France,"Permanent, full-time",2/26/2018,£7.05 - £7.50 per hour,Shropshire,7.275000,cook

In [89]:
final_data_catr_jobs['state'].unique()

array(['Devon', 'West Yorkshire', 'Barbados', 'Berkshire', 'Oxfordshire',
       'Northamptonshire', 'South East England', 'Surrey', 'Essex',
       'London', 'Hertfordshire', 'Avon', 'West Midlands (Region)',
       'Worcestershire', 'Norfolk', 'Hampshire', 'East Sussex',
       'Wiltshire', 'Cumbria', 'West Sussex', 'South West England',
       'Rutland', 'East Midlands', 'Cambridgeshire', 'West Midlands',
       'Cheshire', 'Middlesex', 'Buckinghamshire', 'Cornwall',
       'Inverness-shire', 'Shropshire', 'Kent', 'North Yorkshire',
       'Staffordshire', 'Lancashire', 'South Yorkshire', 'Aberdeen',
       'Warwickshire', 'County Durham', 'Leicestershire',
       'Channel Islands', 'Midlothian', 'Northumberland', 'Somerset',
       'Derbyshire', 'Gwynedd', 'Suffolk', 'North West England',
       'Gloucestershire', 'Dyfed', 'England', 'East Anglia', 'Dorset',
       'Angus', 'Northern Ireland', 'South Glamorgan', 'Nottinghamshire',
       'Bedfordshire', 'Spain', 'Merseyside', 'Herefordshire',
       'Cleveland', 'Scotland', 'Tyne and Wear', 'Central London', 'Fife',
       'Aberdeenshire', 'North East England', 'South Humberside',
       'Renfrewshire', 'South East London', 'Dumfriesshire',
       'North Humberside', 'Lincolnshire', 'Glasgow', 'North London'],
      dtype=object)

In [90]:
job_type_p_1 = final_data_catr_jobs[final_data_catr_jobs['job_type'].str.lower().str.contains("permanent", na =False)]

In [91]:
job_type_p_1['job_type1']= "permanent"

/tmp/ipykernel_7891/1963880590.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  job_type_p_1['job_type1']= "permanent"

In [92]:
job_type_c_1 = final_data_catr_jobs[final_data_catr_jobs['job_type'].str.lower().str.contains("contract", na =False)]

In [93]:
job_type_c_1['job_type1']= "contract"

/tmp/ipykernel_7891/1650874635.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  job_type_c_1['job_type1']= "contract"

In [94]:
job_type_t_1 = final_data_catr_jobs[final_data_catr_jobs['job_type'].str.lower().str.contains("temporary", na =False)]

In [95]:
job_type_t_1['job_type1']= "temporary"

/tmp/ipykernel_7891/2608075235.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  job_type_t_1['job_type1']= "temporary"

In [96]:
job_type_t_1

,category,city,company_name,geo,job_board,job_description,job_requirements,job_title,job_type,post_date,salary_offered,state,salary,job,job_type1
138,catering jobs,Basingstoke,Gi Group,uk,reed,Apply now Calling all Chefs!Are you a passion...,Required skills Chef Sous Chef Cook Commis Ch...,Chef,"Temporary, full-time or part-time",3/7/2018,£16000 - £50000 per annum,Hampshire,15.865385,chef,temporary
278,catering jobs,West London,Admiral Group,uk,reed,Apply now Do you enjoy whipping up tasty dish...,NaN,Money Making Opportunities for Commis Chefs!,"Temporary, full-time or part-time",3/9/2018,£9.00 - £10.00 per hour,London,9.500000,chef,temporary
283,catering jobs,West London,Change UK Ltd,uk,reed,Apply now Temporary Chef de Partie - Catering...,Required skills Events Chef de Partie Contrac...,Temporary Chef de Partie - Catering & Events,"Temporary, full-time",3/8/2018,£10.00 - £14.00 per hour,London,12.000000,chef,temporary
292,catering jobs,Slough,Simple Recruitment Services Limited,uk,reed,Apply now Simple Recruitment Services Ltd. Ar...,Required skills Catering CDP Chef Cooking Hos...,Relief Chef - Schools - Buckinghamshire,"Temporary, full-time or part-time",3/9/2018,£11.00 - £16.00 per hour,Berkshire,13.500000,chef,temporary
296,catering jobs,Bristol,Berkeley Scott,uk,reed,Apply now CHEFS OF ALL LEVELS NEEDED â€“ VARI...,NaN,TEMP CHEFS NEEDED - BRISTOL - START NOW,"Temporary, full-time",3/8/2018,£10.00 - £14.25 per hour,Avon,12.125000,chef,temporary
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
759,catering jobs,Tooting,The Recruitment Shop,uk,reed,Apply now A new opportunity has arisen in a c...,NaN,Cook-Tooting-adhoc- Â£9.75phr,"Temporary, part-time",3/6/2018,£9.75 per hour,London,9.750000,cook,temporary
762,catering jobs,Leigh,Adecco UK Limited,uk,reed,Apply now Cook required for Hospital in Leigh...,NaN,Cook,"Temporary, full-time",3/7/2018,£8.01 - £9.01 per hour,Lancashire,8.510000,cook,temporary
763,catering jobs,Cardiff,Atlantic Resource (Services) Ltd,uk,reed,Apply now Weekend Cook Are you looking for a ...,Required skills Chef Cook,Weekend Cook,"Temporary, full-time",3/12/2018,£13.00 per hour,South Glamorgan,13.000000,cook,temporary
764,catering jobs,London,Berkeley Scott,uk,reed,Apply now DBS Chefs and Cooks wanted in and a...,NaN,DBS Chefs and Cooks wanted in and around centr...,"Temporary, full-time",2/28/2018,£10.50 - £12.50 per hour,South East England,11.500000,cook,temporary
765,catering jobs,East Finchley,North West London Hospitality and Leisure,uk,reed,Apply now We are currently recruiting in REED...,NaN,CHEF/COOK for school with DBS immediate start,"Temporary, full-time",3/7/2018,£10.00 - £12.00 per hour,North London,11.000000,cook,temporary

In [97]:
F_data_catr_jobs = pd.concat([job_type_p_1,job_type_c_1,job_type_t_1]).drop_duplicates().reset_index(drop=True)

In [98]:
F_data_catr_jobs

,category,city,company_name,geo,job_board,job_description,job_requirements,job_title,job_type,post_date,salary_offered,state,salary,job,job_type1
0,catering jobs,Chudleigh,Haulfryn Group,uk,reed,Apply now New opportunity not to be missed! H...,NaN,Commis Chef,"Permanent, full-time",3/12/2018,£18323 per annum,Devon,8.809135,chef,permanent
1,catering jobs,Leeds,Berkeley Scott,uk,reed,"Apply now Production Chef - Â£24,000-Â£27,000...",NaN,Production Chef,"Permanent, full-time",2/28/2018,£24000 - £27000 per annum,West Yorkshire,12.259615,chef,permanent
2,catering jobs,Stoke Poges,Flow Sports Personnel,uk,reed,Apply now Our client runs one of Europes lead...,NaN,Sous Chef - 5 Star Red Resort - Stoke Poges,"Permanent, full-time",3/12/2018,£24000 per annum,Berkshire,11.538462,chef,permanent
3,catering jobs,Weston-on-the-Green,ASH Recruitment Ltd,uk,reed,Apply now ASH Recruitment are looking for a p...,Required skills Catering Chef Cooking SOUS,Sous Chef,"Permanent, full-time",2/28/2018,£23000 - £27000 per annum,Oxfordshire,12.019231,chef,permanent
4,catering jobs,Bracknell,Detail2Leisure,uk,reed,Apply now Head Chef - Stylish Branded Restaur...,NaN,HEAD CHEF - STYLISH BRANDED RESTAURANT,"Permanent, full-time",3/12/2018,£28000 - £35000 per annum,Berkshire,15.144231,chef,permanent
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
763,catering jobs,Tooting,The Recruitment Shop,uk,reed,Apply now A new opportunity has arisen in a c...,NaN,Cook-Tooting-adhoc- Â£9.75phr,"Temporary, part-time",3/6/2018,£9.75 per hour,London,9.750000,cook,temporary
764,catering jobs,Leigh,Adecco UK Limited,uk,reed,Apply now Cook required for Hospital in Leigh...,NaN,Cook,"Temporary, full-time",3/7/2018,£8.01 - £9.01 per hour,Lancashire,8.510000,cook,temporary
765,catering jobs,Cardiff,Atlantic Resource (Services) Ltd,uk,reed,Apply now Weekend Cook Are you looking for a ...,Required skills Chef Cook,Weekend Cook,"Temporary, full-time",3/12/2018,£13.00 per hour,South Glamorgan,13.000000,cook,temporary
766,catering jobs,London,Berkeley Scott,uk,reed,Apply now DBS Chefs and Cooks wanted in and a...,NaN,DBS Chefs and Cooks wanted in and around centr...,"Temporary, full-time",2/28/2018,£10.50 - £12.50 per hour,South East England,11.500000,cook,temporary
767,catering jobs,East Finchley,North West London Hospitality and Leisure,uk,reed,Apply now We are currently recruiting in REED...,NaN,CHEF/COOK for school with DBS immediate start,"Temporary, full-time",3/7/2018,£10.00 - £12.00 per hour,North London,11.000000,cook,temporary

In [99]:
#seperting full-time or part time
job_type2_b_2 = F_data_catr_jobs[F_data_catr_jobs['job_type'].str.lower().str.contains("full-time or part-time", na =False)]

In [100]:
job_type2_b_2['job_type2'] = "full-time or part-time"

/tmp/ipykernel_7891/2183874716.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  job_type2_b_2['job_type2'] = "full-time or part-time"

In [101]:
# drop full-time or part-time

F_data_catr_jobs.drop(F_data_catr_jobs[F_data_catr_jobs['job_type'].str.lower().str.contains("full-time or part-time", na =False)].index, inplace = True)

In [102]:
F_data_catr_jobs

,category,city,company_name,geo,job_board,job_description,job_requirements,job_title,job_type,post_date,salary_offered,state,salary,job,job_type1
0,catering jobs,Chudleigh,Haulfryn Group,uk,reed,Apply now New opportunity not to be missed! H...,NaN,Commis Chef,"Permanent, full-time",3/12/2018,£18323 per annum,Devon,8.809135,chef,permanent
1,catering jobs,Leeds,Berkeley Scott,uk,reed,"Apply now Production Chef - Â£24,000-Â£27,000...",NaN,Production Chef,"Permanent, full-time",2/28/2018,£24000 - £27000 per annum,West Yorkshire,12.259615,chef,permanent
2,catering jobs,Stoke Poges,Flow Sports Personnel,uk,reed,Apply now Our client runs one of Europes lead...,NaN,Sous Chef - 5 Star Red Resort - Stoke Poges,"Permanent, full-time",3/12/2018,£24000 per annum,Berkshire,11.538462,chef,permanent
3,catering jobs,Weston-on-the-Green,ASH Recruitment Ltd,uk,reed,Apply now ASH Recruitment are looking for a p...,Required skills Catering Chef Cooking SOUS,Sous Chef,"Permanent, full-time",2/28/2018,£23000 - £27000 per annum,Oxfordshire,12.019231,chef,permanent
4,catering jobs,Bracknell,Detail2Leisure,uk,reed,Apply now Head Chef - Stylish Branded Restaur...,NaN,HEAD CHEF - STYLISH BRANDED RESTAURANT,"Permanent, full-time",3/12/2018,£28000 - £35000 per annum,Berkshire,15.144231,chef,permanent
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
763,catering jobs,Tooting,The Recruitment Shop,uk,reed,Apply now A new opportunity has arisen in a c...,NaN,Cook-Tooting-adhoc- Â£9.75phr,"Temporary, part-time",3/6/2018,£9.75 per hour,London,9.750000,cook,temporary
764,catering jobs,Leigh,Adecco UK Limited,uk,reed,Apply now Cook required for Hospital in Leigh...,NaN,Cook,"Temporary, full-time",3/7/2018,£8.01 - £9.01 per hour,Lancashire,8.510000,cook,temporary
765,catering jobs,Cardiff,Atlantic Resource (Services) Ltd,uk,reed,Apply now Weekend Cook Are you looking for a ...,Required skills Chef Cook,Weekend Cook,"Temporary, full-time",3/12/2018,£13.00 per hour,South Glamorgan,13.000000,cook,temporary
766,catering jobs,London,Berkeley Scott,uk,reed,Apply now DBS Chefs and Cooks wanted in and a...,NaN,DBS Chefs and Cooks wanted in and around centr...,"Temporary, full-time",2/28/2018,£10.50 - £12.50 per hour,South East England,11.500000,cook,temporary
767,catering jobs,East Finchley,North West London Hospitality and Leisure,uk,reed,Apply now We are currently recruiting in REED...,NaN,CHEF/COOK for school with DBS immediate start,"Temporary, full-time",3/7/2018,£10.00 - £12.00 per hour,North London,11.000000,cook,temporary

In [103]:
job_type2_F_2 = F_data_catr_jobs[F_data_catr_jobs['job_type'].str.lower().str.contains("full-time", na =False)]

In [104]:

job_type2_F_2['job_type2'] = "full-time"

/tmp/ipykernel_7891/1285143896.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  job_type2_F_2['job_type2'] = "full-time"

In [105]:
job_type2_F_2

,category,city,company_name,geo,job_board,job_description,job_requirements,job_title,job_type,post_date,salary_offered,state,salary,job,job_type1,job_type2
0,catering jobs,Chudleigh,Haulfryn Group,uk,reed,Apply now New opportunity not to be missed! H...,NaN,Commis Chef,"Permanent, full-time",3/12/2018,£18323 per annum,Devon,8.809135,chef,permanent,full-time
1,catering jobs,Leeds,Berkeley Scott,uk,reed,"Apply now Production Chef - Â£24,000-Â£27,000...",NaN,Production Chef,"Permanent, full-time",2/28/2018,£24000 - £27000 per annum,West Yorkshire,12.259615,chef,permanent,full-time
2,catering jobs,Stoke Poges,Flow Sports Personnel,uk,reed,Apply now Our client runs one of Europes lead...,NaN,Sous Chef - 5 Star Red Resort - Stoke Poges,"Permanent, full-time",3/12/2018,£24000 per annum,Berkshire,11.538462,chef,permanent,full-time
3,catering jobs,Weston-on-the-Green,ASH Recruitment Ltd,uk,reed,Apply now ASH Recruitment are looking for a p...,Required skills Catering Chef Cooking SOUS,Sous Chef,"Permanent, full-time",2/28/2018,£23000 - £27000 per annum,Oxfordshire,12.019231,chef,permanent,full-time
4,catering jobs,Bracknell,Detail2Leisure,uk,reed,Apply now Head Chef - Stylish Branded Restaur...,NaN,HEAD CHEF - STYLISH BRANDED RESTAURANT,"Permanent, full-time",3/12/2018,£28000 - £35000 per annum,Berkshire,15.144231,chef,permanent,full-time
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
761,catering jobs,Edinburgh,Pertemps Scotland,uk,reed,Apply now Are you an experienced and qualifie...,NaN,Cook,"Temporary, full-time",3/7/2018,£9.15 per hour,Midlothian,9.150000,cook,temporary,full-time
764,catering jobs,Leigh,Adecco UK Limited,uk,reed,Apply now Cook required for Hospital in Leigh...,NaN,Cook,"Temporary, full-time",3/7/2018,£8.01 - £9.01 per hour,Lancashire,8.510000,cook,temporary,full-time
765,catering jobs,Cardiff,Atlantic Resource (Services) Ltd,uk,reed,Apply now Weekend Cook Are you looking for a ...,Required skills Chef Cook,Weekend Cook,"Temporary, full-time",3/12/2018,£13.00 per hour,South Glamorgan,13.000000,cook,temporary,full-time
766,catering jobs,London,Berkeley Scott,uk,reed,Apply now DBS Chefs and Cooks wanted in and a...,NaN,DBS Chefs and Cooks wanted in and around centr...,"Temporary, full-time",2/28/2018,£10.50 - £12.50 per hour,South East England,11.500000,cook,temporary,full-time
767,catering jobs,East Finchley,North West London Hospitality and Leisure,uk,reed,Apply now We are currently recruiting in REED...,NaN,CHEF/COOK for school with DBS immediate start,"Temporary, full-time",3/7/2018,£10.00 - £12.00 per hour,North London,11.000000,cook,temporary,full-time

In [106]:
job_type2_P_2 = F_data_catr_jobs[F_data_catr_jobs['job_type'].str.lower().str.contains("part-time", na =False)]

In [107]:

job_type2_P_2['job_type2'] = "part-time"

/tmp/ipykernel_7891/2053512419.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  job_type2_P_2['job_type2'] = "part-time"

In [108]:
Data_aft_job_typ = pd.concat([job_type2_b_2,job_type2_F_2,job_type2_P_2]).drop_duplicates().reset_index(drop=True)

In [109]:
Data_aft_job_typ

,category,city,company_name,geo,job_board,job_description,job_requirements,job_title,job_type,post_date,salary_offered,state,salary,job,job_type1,job_type2
0,catering jobs,Southampton,Turtle Bay Restaurants Ltd,uk,reed,Apply on employer's website Turtle Bay Restau...,NaN,Turtle Bay - Head Chef - Southampton,"Permanent, full-time or part-time",2/27/2018,£30000 - £30001 per annum,Hampshire,14.423317,chef,permanent,full-time or part-time
1,catering jobs,London,Turtle Bay Restaurants Ltd,uk,reed,Apply on employer's website Turtle Bay Restau...,NaN,Turtle Bay - Head Chef - London,"Permanent, full-time or part-time",3/7/2018,£28000 - £32001 per annum,South East England,14.423317,chef,permanent,full-time or part-time
2,catering jobs,Hampstead,Carluccio's,uk,reed,Apply on employer's website Your Role Sous Ch...,NaN,Sous Chef,"Permanent, full-time or part-time",2/7/2018,£24000 - £26000 per annum,London,12.019231,chef,permanent,full-time or part-time
3,catering jobs,Birmingham,Carluccio's,uk,reed,Apply on employer's website Your Role Sous Ch...,NaN,Sous Chef,"Permanent, full-time or part-time",2/20/2018,£24000 - £26000 per annum,West Midlands,12.019231,chef,permanent,full-time or part-time
4,catering jobs,Milton Keynes,Turtle Bay Restaurants Ltd,uk,reed,Apply on employer's website Turtle Bay Restau...,NaN,Turtle Bay - Head Chef - Milton Keynes,"Permanent, full-time or part-time",2/27/2018,£31000 - £31001 per annum,Buckinghamshire,14.904087,chef,permanent,full-time or part-time
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
763,catering jobs,London,Datacom Recruitment,uk,reed,Apply now City Centre Recruitment are looking...,NaN,"Waiter / Bar Staff , Kitchen Porters","Temporary, part-time",3/7/2018,£8.00 - £8.50 per hour,South East England,8.250000,waiter,temporary,part-time
764,catering jobs,Twickenham,Berry Recruitment,uk,reed,Apply now Berry recruitment are currently rec...,Required skills Catering / Hospitality/ Bar/ ...,Hospitality/Catering,"Temporary, part-time",3/6/2018,£7.50 - £8.50 per hour,Middlesex,8.000000,hospitality,temporary,part-time
765,catering jobs,North West London,Osac Placement,uk,reed,Apply now Job Titles: Chef / School Cook (DBS...,Required skills Cooking Food Hygiene Food Pre...,"Chef / Cook (Part Time, Temporary)","Temporary, part-time",2/27/2018,£10.00 - £12.00 per hour,London,11.000000,cook,temporary,part-time
766,catering jobs,Liverpool,Berry Recruitment,uk,reed,Apply now Berry Recruitment is urgently recru...,NaN,School Cook - Liverpool - DBS Essential,"Temporary, part-time",3/7/2018,£10.00 - £11.00 per hour,Merseyside,10.500000,cook,temporary,part-time
767,catering jobs,Tooting,The Recruitment Shop,uk,reed,Apply now A new opportunity has arisen in a c...,NaN,Cook-Tooting-adhoc- Â£9.75phr,"Temporary, part-time",3/6/2018,£9.75 per hour,London,9.750000,cook,temporary,part-time

In [110]:
Data_aft_job_typ['state'].unique()

array(['Hampshire', 'South East England', 'London', 'West Midlands',
       'Buckinghamshire', 'Avon', 'Cornwall', 'Angus', 'Merseyside',
       'East Sussex', 'West Yorkshire', 'Cleveland', 'Scotland', 'Surrey',
       'Nottinghamshire', 'Lancashire', 'Middlesex', 'South Yorkshire',
       'Berkshire', 'South Glamorgan', 'West Sussex', 'Midlothian',
       'Devon', 'Oxfordshire', 'Northamptonshire', 'Essex',
       'Hertfordshire', 'West Midlands (Region)', 'Worcestershire',
       'Norfolk', 'Wiltshire', 'Cumbria', 'South West England', 'Rutland',
       'East Midlands', 'Cambridgeshire', 'Cheshire', 'Inverness-shire',
       'Shropshire', 'Kent', 'North Yorkshire', 'Staffordshire',
       'Aberdeen', 'Warwickshire', 'County Durham', 'Leicestershire',
       'Channel Islands', 'Northumberland', 'Somerset', 'Derbyshire',
       'Gwynedd', 'Suffolk', 'North West England', 'Gloucestershire',
       'Dyfed', 'East Anglia', 'Dorset', 'England', 'Northern Ireland',
       'Bedfordshire', 'Spain', 'Herefordshire', 'Tyne and Wear',
       'Central London', 'Fife', 'Aberdeenshire', 'North East England',
       'South Humberside', 'Renfrewshire', 'North Humberside',
       'Lincolnshire', 'Barbados', 'South East London', 'Glasgow',
       'North London', 'Dumfriesshire'], dtype=object)

In [111]:
#South_East_England
South_East_England = Data_aft_job_typ[Data_aft_job_typ['state'].str.lower().str.contains('hampshire|buckinghamshire|east sussex|berkshire|kent|oxfordshire|surrey|west sussex|south east england|middlesex', na =False)]

In [112]:
South_East_England['region'] = "South East England"
Data_aft_job_typ.drop(Data_aft_job_typ[Data_aft_job_typ['state'].str.lower().str.contains("hampshire|buckinghamshire|east sussex|berkshire|kent|oxfordshire|surrey|west sussex|south east england|middlesex", na =False)].index, inplace = True)

/tmp/ipykernel_7891/3954794320.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  South_East_England['region'] = "South East England"

In [113]:
#North_West_England 
North_West_England = Data_aft_job_typ[Data_aft_job_typ['state'].str.lower().str.contains('cumbria|lancashire|greater manchester|merseyside|cheshire|north west england', na =False)]

In [114]:
North_West_England['region'] = "North West England"
Data_aft_job_typ.drop(Data_aft_job_typ[Data_aft_job_typ['state'].str.lower().str.contains("cumbria|lancashire|greater manchester|merseyside|cheshire|north west england", na =False)].index, inplace = True)

/tmp/ipykernel_7891/918704848.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  North_West_England['region'] = "North West England"

In [115]:
#North_East_England
North_East_England = Data_aft_job_typ[Data_aft_job_typ['state'].str.lower().str.contains('county durham|northumberland|tyne and wear|north yorkshire|north east england|cleveland', na =False)]

In [116]:
North_East_England['region'] = "North East England"
Data_aft_job_typ.drop(Data_aft_job_typ[Data_aft_job_typ['state'].str.lower().str.contains("county durham|northumberland|tyne and wear|north yorkshire|north east england|cleveland", na =False)].index, inplace = True)

/tmp/ipykernel_7891/1658090853.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  North_East_England['region'] = "North East England"

In [117]:
#Yorkshire_Humber
Yorkshire_Humber = Data_aft_job_typ[Data_aft_job_typ['state'].str.lower().str.contains('south yorkshire|west yorkshire|lincolnshire|south humberside|north humberside', na =False)]

In [118]:
Yorkshire_Humber['region'] = "Yorkshire and Humber"
Data_aft_job_typ.drop(Data_aft_job_typ[Data_aft_job_typ['state'].str.lower().str.contains("south yorkshire|west yorkshire|lincolnshire|south humberside|north humberside", na =False)].index, inplace = True)

/tmp/ipykernel_7891/2004292390.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Yorkshire_Humber['region'] = "Yorkshire and Humber"

In [119]:
#East_Midlands
East_Midlands = Data_aft_job_typ[Data_aft_job_typ['state'].str.lower().str.contains('derbyshire|nottinghamshire|leicestershire|rutland|northamptonshire|east midlands', na =False)]

In [120]:
East_Midlands['region'] = "East Midlands"
Data_aft_job_typ.drop(Data_aft_job_typ[Data_aft_job_typ['state'].str.lower().str.contains("derbyshire|nottinghamshire|leicestershire|rutland|northamptonshire|east midlands", na =False)].index, inplace = True)

/tmp/ipykernel_7891/2112185336.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  East_Midlands['region'] = "East Midlands"

In [121]:
#West_midland
West_midland = Data_aft_job_typ[Data_aft_job_typ['state'].str.lower().str.contains('west midlands|herefordshire|shropshire|staffordshire|warwickshire|worcestershire|west midlands', na =False)]

In [122]:
West_midland['region'] = "West Midland"
Data_aft_job_typ.drop(Data_aft_job_typ[Data_aft_job_typ['state'].str.lower().str.contains("west midlands|herefordshire|shropshire|staffordshire|warwickshire|worcestershire|west midlands", na =False)].index, inplace = True)

/tmp/ipykernel_7891/1621063259.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  West_midland['region'] = "West Midland"

In [123]:
#South_West_England
South_West_England = Data_aft_job_typ[Data_aft_job_typ['state'].str.lower().str.contains('bristol|cornwall|devon|dorset|gloucestershire|somerset|wiltshire|south west england|avon', na =False)]

In [124]:
South_West_England['region'] = "South West England"
Data_aft_job_typ.drop(Data_aft_job_typ[Data_aft_job_typ['state'].str.lower().str.contains("bristol|cornwall|devon|dorset|gloucestershire|somerset|wiltshire|south west england|avon", na =False)].index, inplace = True)

/tmp/ipykernel_7891/1427370237.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  South_West_England['region'] = "South West England"

In [125]:
#East
East = Data_aft_job_typ[Data_aft_job_typ['state'].str.lower().str.contains('cambridgeshire|essex|hertfordshire|norfolk|suffolk|bedfordshire|luton|east anglia', na =False)]

In [126]:
East['region'] = "East England"
Data_aft_job_typ.drop(Data_aft_job_typ[Data_aft_job_typ['state'].str.lower().str.contains("cambridgeshire|essex|hertfordshire|norfolk|suffolk|bedfordshire|luton|east anglia", na =False)].index, inplace = True)

/tmp/ipykernel_7891/721763796.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  East['region'] = "East England"

In [127]:
#Greater_London 
Greater_London = Data_aft_job_typ[Data_aft_job_typ['state'].str.lower().str.contains('london|central london|north london|south east london', na =False)]

In [128]:
Greater_London['region'] = "Greater London"
Data_aft_job_typ.drop(Data_aft_job_typ[Data_aft_job_typ['state'].str.lower().str.contains("london|central london|north london|south east london", na =False)].index, inplace = True)

/tmp/ipykernel_7891/200934022.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Greater_London['region'] = "Greater London"

In [129]:
#Channel_Islands
Channel_Islands = Data_aft_job_typ[Data_aft_job_typ['state'].str.lower().str.contains('channel islands', na =False)]

In [130]:
Channel_Islands['region'] = "Channel Islands"
Data_aft_job_typ.drop(Data_aft_job_typ[Data_aft_job_typ['state'].str.lower().str.contains("channel islands", na =False)].index, inplace = True)

/tmp/ipykernel_7891/1215353688.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Channel_Islands['region'] = "Channel Islands"

In [131]:
#Barbados
Barbados = Data_aft_job_typ[Data_aft_job_typ['state'].str.lower().str.contains('barbados', na =False)]

In [132]:
Barbados['region'] = "Barbados"
Data_aft_job_typ.drop(Data_aft_job_typ[Data_aft_job_typ['state'].str.lower().str.contains("barbados", na =False)].index, inplace = True)

/tmp/ipykernel_7891/1421686813.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Barbados['region'] = "Barbados"

In [133]:
#Northern_Ireland
Northern_Ireland = Data_aft_job_typ[Data_aft_job_typ['state'].str.lower().str.contains('northern ireland', na =False)]

In [134]:
Northern_Ireland['region'] = "Northern Ireland"
Data_aft_job_typ.drop(Data_aft_job_typ[Data_aft_job_typ['state'].str.lower().str.contains("northern ireland", na =False)].index, inplace = True)

/tmp/ipykernel_7891/4229896234.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Northern_Ireland['region'] = "Northern Ireland"

In [135]:
#Scotland
Scotland = Data_aft_job_typ[Data_aft_job_typ['state'].str.lower().str.contains('angus|scotland|midlothian|inverness-shire|aberdeen|fife|aberdeenshire|renfrewshire|glasgow|dumfriesshire', na =False)]

In [136]:
Scotland['region'] = "Scotland"
Data_aft_job_typ.drop(Data_aft_job_typ[Data_aft_job_typ['state'].str.lower().str.contains("angus|scotland|midlothian|inverness-shire|aberdeen|fife|aberdeenshire|renfrewshire|glasgow|dumfriesshire", na =False)].index, inplace = True)

/tmp/ipykernel_7891/1128439685.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Scotland['region'] = "Scotland"

In [137]:
#Wales
Wales = Data_aft_job_typ[Data_aft_job_typ['state'].str.lower().str.contains('gwynedd|dyfed|south glamorgan', na =False)]

In [138]:
Wales['region'] = "Wales"
Data_aft_job_typ.drop(Data_aft_job_typ[Data_aft_job_typ['state'].str.lower().str.contains("gwynedd|dyfed|south glamorgan", na =False)].index, inplace = True)

/tmp/ipykernel_7891/1377903278.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Wales['region'] = "Wales"

In [139]:
#Data_aft_job_typ[Data_aft_job_typ['state'].str.lower().str.contains('england', na =False)]
mismatching_east_midlands = Data_aft_job_typ[Data_aft_job_typ['city'].str.lower().str.contains('east midlands', na =False)]

In [140]:
#mismatching_east_midlands = 
mismatching_east_midlands['region'] = "East Midlands"

/tmp/ipykernel_7891/2625717180.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  mismatching_east_midlands['region'] = "East Midlands"

In [141]:
mismatching_south_east_england = Data_aft_job_typ[Data_aft_job_typ['city'].str.lower().str.contains('south east england', na =False)]

In [142]:
mismatching_south_east_england['region'] = "South East England"

/tmp/ipykernel_7891/739931219.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  mismatching_south_east_england['region'] = "South East England"

In [143]:
mismatching_north_west_england = Data_aft_job_typ[Data_aft_job_typ['city'].str.lower().str.contains('north west england', na =False)]

In [144]:
mismatching_north_west_england['region'] = "North West England"

/tmp/ipykernel_7891/3439163819.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  mismatching_north_west_england['region'] = "North West England"

In [145]:
mismatching_Yorkshire_Humberside = Data_aft_job_typ[Data_aft_job_typ['city'].str.lower().str.contains('yorkshire and humberside', na =False)]

In [146]:
mismatching_Yorkshire_Humberside['region'] = "Yorkshire and Humber"

/tmp/ipykernel_7891/449693229.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  mismatching_Yorkshire_Humberside['region'] = "Yorkshire and Humber"

In [147]:
#concat all region
Data_after_region = pd.concat([South_East_England,North_West_England,North_East_England,Yorkshire_Humber,East_Midlands,West_midland,South_West_England,East,Greater_London,Channel_Islands,Barbados,Northern_Ireland,Scotland,Wales,mismatching_east_midlands,mismatching_south_east_england,mismatching_north_west_england,mismatching_Yorkshire_Humberside]).drop_duplicates().reset_index(drop=True)

In [148]:
Data_after_region

,category,city,company_name,geo,job_board,job_description,job_requirements,job_title,job_type,post_date,salary_offered,state,salary,job,job_type1,job_type2,region
0,catering jobs,Southampton,Turtle Bay Restaurants Ltd,uk,reed,Apply on employer's website Turtle Bay Restau...,NaN,Turtle Bay - Head Chef - Southampton,"Permanent, full-time or part-time",2/27/2018,£30000 - £30001 per annum,Hampshire,14.423317,chef,permanent,full-time or part-time,South East England
1,catering jobs,London,Turtle Bay Restaurants Ltd,uk,reed,Apply on employer's website Turtle Bay Restau...,NaN,Turtle Bay - Head Chef - London,"Permanent, full-time or part-time",3/7/2018,£28000 - £32001 per annum,South East England,14.423317,chef,permanent,full-time or part-time,South East England
2,catering jobs,Milton Keynes,Turtle Bay Restaurants Ltd,uk,reed,Apply on employer's website Turtle Bay Restau...,NaN,Turtle Bay - Head Chef - Milton Keynes,"Permanent, full-time or part-time",2/27/2018,£31000 - £31001 per annum,Buckinghamshire,14.904087,chef,permanent,full-time or part-time,South East England
3,catering jobs,Winchester,Turtle Bay Restaurants Ltd,uk,reed,Apply on employer's website Turtle Bay Restau...,NaN,Turtle Bay - Head Chef - Winchester,"Permanent, full-time or part-time",3/12/2018,£32000 - £32001 per annum,Hampshire,15.384856,chef,permanent,full-time or part-time,South East England
4,catering jobs,London,Carluccio's,uk,reed,Apply on employer's website Your Role Junior ...,NaN,Junior Sous Chef,"Permanent, full-time or part-time",3/4/2018,£9.50 - £10.00 per hour,South East England,9.750000,chef,permanent,full-time or part-time,South East England
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
762,catering jobs,East Midlands,Toby Carvery,uk,reed,Apply on employer's website Head Chef / Kitch...,NaN,Head Chef/Kitchen Manager Designate,"Permanent, full-time",3/12/2018,up to £29000 per annum,England,13.942308,managerial jobs,permanent,full-time,East Midlands
763,catering jobs,East Midlands,Sizzling Pubs,uk,reed,Apply on employer's website Head Chef / Kitch...,NaN,Head Chef/Kitchen Manager Designate,"Permanent, full-time",3/8/2018,up to £24000 per annum,England,11.538462,managerial jobs,permanent,full-time,East Midlands
764,catering jobs,South East England,Premium Country Pubs,uk,reed,Apply on employer's website Head Chef / Kitch...,NaN,Head Chef / Kitchen Manager,"Permanent, full-time",3/6/2018,up to £43165 per annum,England,20.752404,managerial jobs,permanent,full-time,South East England
765,catering jobs,North West England,Aviation Recruitment Network Ltd - East Midlands,uk,reed,Apply now If you are an experienced Commis Ch...,NaN,Commis Chef,"Contract, full-time",3/2/2018,£9.00 - £10.50 per hour,England,9.750000,chef,contract,full-time,North West England
766,catering jobs,Yorkshire and Humberside,Hungry Horse,uk,reed,Apply on employer's website Assistant Manager...,Required skills Restaurant Supervisor Team Le...,Assistant Manager Opportunities,"Permanent, full-time",3/12/2018,£21000 - £23000 per annum inc benefits,England,10.576923,managerial jobs,permanent,full-time,Yorkshire and Humber

In [149]:

no_expr_data = Data_after_region[Data_after_region['job_requirements'].isnull()]
no_expr_data['experience_required'] = 'No'

/tmp/ipykernel_7891/628649096.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  no_expr_data['experience_required'] = 'No'

In [150]:
Data_after_region.drop(Data_after_region[Data_after_region['job_requirements'].isnull()].index, inplace = True)
Data_after_region['experience_required'] = 'Yes'

In [151]:
no_expr_data

,category,city,company_name,geo,job_board,job_description,job_requirements,job_title,job_type,post_date,salary_offered,state,salary,job,job_type1,job_type2,region,experience_required
0,catering jobs,Southampton,Turtle Bay Restaurants Ltd,uk,reed,Apply on employer's website Turtle Bay Restau...,NaN,Turtle Bay - Head Chef - Southampton,"Permanent, full-time or part-time",2/27/2018,£30000 - £30001 per annum,Hampshire,14.423317,chef,permanent,full-time or part-time,South East England,No
1,catering jobs,London,Turtle Bay Restaurants Ltd,uk,reed,Apply on employer's website Turtle Bay Restau...,NaN,Turtle Bay - Head Chef - London,"Permanent, full-time or part-time",3/7/2018,£28000 - £32001 per annum,South East England,14.423317,chef,permanent,full-time or part-time,South East England,No
2,catering jobs,Milton Keynes,Turtle Bay Restaurants Ltd,uk,reed,Apply on employer's website Turtle Bay Restau...,NaN,Turtle Bay - Head Chef - Milton Keynes,"Permanent, full-time or part-time",2/27/2018,£31000 - £31001 per annum,Buckinghamshire,14.904087,chef,permanent,full-time or part-time,South East England,No
3,catering jobs,Winchester,Turtle Bay Restaurants Ltd,uk,reed,Apply on employer's website Turtle Bay Restau...,NaN,Turtle Bay - Head Chef - Winchester,"Permanent, full-time or part-time",3/12/2018,£32000 - £32001 per annum,Hampshire,15.384856,chef,permanent,full-time or part-time,South East England,No
4,catering jobs,London,Carluccio's,uk,reed,Apply on employer's website Your Role Junior ...,NaN,Junior Sous Chef,"Permanent, full-time or part-time",3/4/2018,£9.50 - £10.00 per hour,South East England,9.750000,chef,permanent,full-time or part-time,South East England,No
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
759,catering jobs,Conwy,Berkeley Scott,uk,reed,Apply now ROLE: GENERAL MANAGER â€“ HOTELÂ L...,NaN,General Manager - Hotel,"Permanent, full-time",3/2/2018,£50000 - £60000 per annum,Gwynedd,26.442308,managerial jobs,permanent,full-time,Wales,No
762,catering jobs,East Midlands,Toby Carvery,uk,reed,Apply on employer's website Head Chef / Kitch...,NaN,Head Chef/Kitchen Manager Designate,"Permanent, full-time",3/12/2018,up to £29000 per annum,England,13.942308,managerial jobs,permanent,full-time,East Midlands,No
763,catering jobs,East Midlands,Sizzling Pubs,uk,reed,Apply on employer's website Head Chef / Kitch...,NaN,Head Chef/Kitchen Manager Designate,"Permanent, full-time",3/8/2018,up to £24000 per annum,England,11.538462,managerial jobs,permanent,full-time,East Midlands,No
764,catering jobs,South East England,Premium Country Pubs,uk,reed,Apply on employer's website Head Chef / Kitch...,NaN,Head Chef / Kitchen Manager,"Permanent, full-time",3/6/2018,up to £43165 per annum,England,20.752404,managerial jobs,permanent,full-time,South East England,No
765,catering jobs,North West England,Aviation Recruitment Network Ltd - East Midlands,uk,reed,Apply now If you are an experienced Commis Ch...,NaN,Commis Chef,"Contract, full-time",3/2/2018,£9.00 - £10.50 per hour,England,9.750000,chef,contract,full-time,North West England,No

In [152]:
Data_after_region

,category,city,company_name,geo,job_board,job_description,job_requirements,job_title,job_type,post_date,salary_offered,state,salary,job,job_type1,job_type2,region,experience_required
5,catering jobs,London,Hamilton Mayday,uk,reed,Apply now Hamilton Mayday are the leading age...,Required skills / chef / chef de partie / sou...,Chefs of all grades required - Immediate Starts,"Permanent, full-time or part-time",2/27/2018,£10.00 - £12.00 per hour,South East England,11.000000,chef,permanent,full-time or part-time,South East England,Yes
8,catering jobs,Beech,Jade Recruitment Ltd,uk,reed,Apply now We are actively looking to recruit ...,Required skills Chef Food Hygiene Stock Contr...,Chef - 5582,"Permanent, full-time or part-time",2/27/2018,£10.00 per hour,Hampshire,10.000000,chef,permanent,full-time or part-time,South East England,Yes
9,catering jobs,Brighton,Greene King,uk,reed,Apply on employer's website General Manager C...,Required skills Restaurant Manager Assistant ...,General Manager,"Permanent, full-time or part-time",2/28/2018,£28000 - £32000 per annum inc benefits,East Sussex,14.423077,managerial jobs,permanent,full-time or part-time,South East England,Yes
11,catering jobs,Richmond,Chef & Brewer,uk,reed,"Apply on employer's website General Manager, ...",Required skills Restaurant Manager Assistant ...,"General Manager, Richmond","Permanent, full-time or part-time",3/7/2018,£30000 - £35000 per annum inc benefits,Surrey,15.625000,managerial jobs,permanent,full-time or part-time,South East England,Yes
12,catering jobs,London,Greene King,uk,reed,Apply on employer's website General Manager -...,Required skills Restaurant Manager Assistant ...,General Manager - The William Garland - Live-In,"Permanent, full-time or part-time",2/27/2018,£30000 - £32000 per annum inc benefits,South East England,14.903846,managerial jobs,permanent,full-time or part-time,South East England,Yes
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
757,catering jobs,Cardiff,Catering Services International,uk,reed,Apply now Experienced Kitchen Manager require...,Required skills Catering Chef Leadership Mana...,Head Chef / Kitchen Manager,"Permanent, full-time",2/28/2018,£26000 - £28000 per annum negotiable inc bene...,South Glamorgan,12.980769,managerial jobs,permanent,full-time,Wales,Yes
758,catering jobs,Cardiff,Catering Services International,uk,reed,Apply now Experienced Kitchen Manager require...,Required skills Catering Chef Leadership Mana...,Kitchen Manager,"Permanent, full-time",2/16/2018,£26000 - £28000 per annum negotiable inc bene...,South Glamorgan,12.980769,managerial jobs,permanent,full-time,Wales,Yes
760,catering jobs,Cardiff,Central Appointments,uk,reed,Apply now Are you immediately available and l...,Required skills Customer Satisfaction Custome...,Hospitality Staff Needed!,"Permanent, full-time",2/28/2018,£7.05 - £7.50 per hour,South Glamorgan,7.275000,hospitality,permanent,full-time,Wales,Yes
761,catering jobs,Cardiff,Atlantic Resource (Services) Ltd,uk,reed,Apply now Weekend Cook Are you looking for a ...,Required skills Chef Cook,Weekend Cook,"Temporary, full-time",3/12/2018,£13.00 per hour,South Glamorgan,13.000000,cook,temporary,full-time,Wales,Yes
766,catering jobs,Yorkshire and Humberside,Hungry Horse,uk,reed,Apply on employer's website Assistant Manager...,Required skills Restaurant Supervisor Team Le...,Assistant Manager Opportunities,"Permanent, full-time",3/12/2018,£21000 - £23000 per annum inc benefits,England,10.576923,managerial jobs,permanent,full-time,Yorkshire and Humber,Yes

In [153]:
Final_Data_T = pd.concat([Data_after_region,no_expr_data]).drop_duplicates().reset_index(drop=True)

In [154]:
Final_Data_T

,category,city,company_name,geo,job_board,job_description,job_requirements,job_title,job_type,post_date,salary_offered,state,salary,job,job_type1,job_type2,region,experience_required
0,catering jobs,London,Hamilton Mayday,uk,reed,Apply now Hamilton Mayday are the leading age...,Required skills / chef / chef de partie / sou...,Chefs of all grades required - Immediate Starts,"Permanent, full-time or part-time",2/27/2018,£10.00 - £12.00 per hour,South East England,11.000000,chef,permanent,full-time or part-time,South East England,Yes
1,catering jobs,Beech,Jade Recruitment Ltd,uk,reed,Apply now We are actively looking to recruit ...,Required skills Chef Food Hygiene Stock Contr...,Chef - 5582,"Permanent, full-time or part-time",2/27/2018,£10.00 per hour,Hampshire,10.000000,chef,permanent,full-time or part-time,South East England,Yes
2,catering jobs,Brighton,Greene King,uk,reed,Apply on employer's website General Manager C...,Required skills Restaurant Manager Assistant ...,General Manager,"Permanent, full-time or part-time",2/28/2018,£28000 - £32000 per annum inc benefits,East Sussex,14.423077,managerial jobs,permanent,full-time or part-time,South East England,Yes
3,catering jobs,Richmond,Chef & Brewer,uk,reed,"Apply on employer's website General Manager, ...",Required skills Restaurant Manager Assistant ...,"General Manager, Richmond","Permanent, full-time or part-time",3/7/2018,£30000 - £35000 per annum inc benefits,Surrey,15.625000,managerial jobs,permanent,full-time or part-time,South East England,Yes
4,catering jobs,London,Greene King,uk,reed,Apply on employer's website General Manager -...,Required skills Restaurant Manager Assistant ...,General Manager - The William Garland - Live-In,"Permanent, full-time or part-time",2/27/2018,£30000 - £32000 per annum inc benefits,South East England,14.903846,managerial jobs,permanent,full-time or part-time,South East England,Yes
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
762,catering jobs,Conwy,Berkeley Scott,uk,reed,Apply now ROLE: GENERAL MANAGER â€“ HOTELÂ L...,NaN,General Manager - Hotel,"Permanent, full-time",3/2/2018,£50000 - £60000 per annum,Gwynedd,26.442308,managerial jobs,permanent,full-time,Wales,No
763,catering jobs,East Midlands,Toby Carvery,uk,reed,Apply on employer's website Head Chef / Kitch...,NaN,Head Chef/Kitchen Manager Designate,"Permanent, full-time",3/12/2018,up to £29000 per annum,England,13.942308,managerial jobs,permanent,full-time,East Midlands,No
764,catering jobs,East Midlands,Sizzling Pubs,uk,reed,Apply on employer's website Head Chef / Kitch...,NaN,Head Chef/Kitchen Manager Designate,"Permanent, full-time",3/8/2018,up to £24000 per annum,England,11.538462,managerial jobs,permanent,full-time,East Midlands,No
765,catering jobs,South East England,Premium Country Pubs,uk,reed,Apply on employer's website Head Chef / Kitch...,NaN,Head Chef / Kitchen Manager,"Permanent, full-time",3/6/2018,up to £43165 per annum,England,20.752404,managerial jobs,permanent,full-time,South East England,No
766,catering jobs,North West England,Aviation Recruitment Network Ltd - East Midlands,uk,reed,Apply now If you are an experienced Commis Ch...,NaN,Commis Chef,"Contract, full-time",3/2/2018,£9.00 - £10.50 per hour,England,9.750000,chef,contract,full-time,North West England,No

In [155]:
Final_Data_T.drop(['city','company_name','geo','job_board','job_description','job_requirements','job_title','job_type','post_date','salary_offered','state'], axis = 1, inplace = True)

In [156]:
Final_Data_T

,category,salary,job,job_type1,job_type2,region,experience_required
0,catering jobs,11.000000,chef,permanent,full-time or part-time,South East England,Yes
1,catering jobs,10.000000,chef,permanent,full-time or part-time,South East England,Yes
2,catering jobs,14.423077,managerial jobs,permanent,full-time or part-time,South East England,Yes
3,catering jobs,15.625000,managerial jobs,permanent,full-time or part-time,South East England,Yes
4,catering jobs,14.903846,managerial jobs,permanent,full-time or part-time,South East England,Yes
...,...,...,...,...,...,...,...
762,catering jobs,26.442308,managerial jobs,permanent,full-time,Wales,No
763,catering jobs,13.942308,managerial jobs,permanent,full-time,East Midlands,No
764,catering jobs,11.538462,managerial jobs,permanent,full-time,East Midlands,No
765,catering jobs,20.752404,managerial jobs,permanent,full-time,South East England,No
766,catering jobs,9.750000,chef,contract,full-time,North West England,No

In [157]:
%store Final_Data_T

Stored 'Final_Data_T' (DataFrame)